<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-toast" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Toast Plugin</name>
  <description>Simple toast messages</description>
  <license>MIT</license>
  <keywords>cordova, toast</keywords>
   <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova-plugman" version=">=4.2.0"/>
    </engines>

    <js-module src="www/toast.js" name="ToastPlugin">
        <merges target="ToastPlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="ToastPlugin" >
                <param name="android-package" value="com.ferdinandsilva.android.ToastPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/ToastPlugin.java" target-dir="src/com/ferdinandsilva/android" />
    </platform>

  <platform name="ios">
    <source-file src="src/ios/ToastPlugin.m" />
  </platform>
</plugin>
